In [36]:
import requests
from bs4 import BeautifulSoup

In [37]:
url = 'https://www.vice.com/en/sitemap/'
r = requests.get(url)
sp = BeautifulSoup(r.text, features="xml")
links = [x.text for x in sp.find_all('loc')]

In [38]:
len(links)

618

In [39]:
#find duplicates in links
duplicates = []
for i in range(len(links)):
    for j in range(i+1, len(links)):
        if links[i] == links[j]:
            duplicates.append(links[i])

In [40]:
duplicates

[]

In [41]:
to_df = {'links': [], 'date': []} 

for link in links[:20]:
    r = requests.get(link)
    sp = BeautifulSoup(r.text, features="xml")

    if r.status_code == 200:
        divs = sp.find_all("url")
        for div in divs:
            url = div.find("loc").text
            if url.startswith('https://www.vice.com/en/article/'):
                date = div.find("lastmod").text
                to_df['links'].append(url)
                to_df['date'].append(date)

In [42]:
len(to_df['links'])

16577

In [43]:
import pandas as pd
df = pd.DataFrame(to_df)
df.head()

                                               links                      date
0  https://www.vice.com/en/article/k7bdey/what-is...  2023-02-01T15:30:38.080Z
1  https://www.vice.com/en/article/qjkykx/diy-cri...  2023-01-26T15:07:14.175Z
2  https://www.vice.com/en/article/epzez7/mysteri...  2023-01-26T14:10:59.495Z
3  https://www.vice.com/en/article/pkgngz/why-imm...  2023-01-26T14:31:01.580Z
4  https://www.vice.com/en/article/88qyng/scrapbo...  2023-01-26T16:14:30.195Z

In [44]:
df.describe()

,links,date
count,16577,16577
unique,1511,1501
top,https://www.vice.com/en/article/k7bdey/what-is...,2012-09-04T14:14:39.000Z
freq,13,14

In [45]:
df.drop_duplicates(inplace=True, subset=['links'])
df.describe()

,links,date
count,1511,1511
unique,1511,1501
top,https://www.vice.com/en/article/k7bdey/what-is...,2012-09-07T10:54:54.000Z
freq,1,2