In [ ]:
!pip install bs4 --quiet

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [ ]:
url = 'https://github.com/kevsteramp'
useragent = {'User-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36 Edg/110.0.1587.63'}
r = requests.get(url, headers=useragent)
soup = BeautifulSoup(r.text)

In [ ]:
name = soup.select_one("h1.vcard-names > span:nth-of-type(1)").text.strip()
print(name)

Kevin

In [ ]:
bio = soup.select("div.p-note.user-profile-bio.mb-3.js-user-profile-bio.f4 > *")[0].text.strip()
print(bio)

Head of Data Engineering at @Google-Developer-Student-Clubs-PUP-Main

In [ ]:
contrib = soup.select_one("div.position-relative > h2").text.replace(" ", "").replace("\n", "").replace("contributionsinthelastyear", "")
contrib

'408'

In [ ]:
div = soup.select_one("div.flex-order-1.flex-md-order-none.mt-2.mt-md-0")
print(div)

<div class="flex-order-1 flex-md-order-none mt-2 mt-md-0">
<div class="mb-3">
<a class="Link--secondary no-underline no-wrap" href="https://github.com/KevsterAmp?tab=followers">
<svg aria-hidden="true" class="octicon octicon-people" data-view-component="true" height="16" text="muted" version="1.1" viewbox="0 0 16 16" width="16">
<path d="M2 5.5a3.5 3.5 0 1 1 5.898 2.549 5.508 5.508 0 0 1 3.034 4.084.75.75 0 1 1-1.482.235 4 4 0 0 0-7.9 0 .75.75 0 0 1-1.482-.236A5.507 5.507 0 0 1 3.102 8.05 3.493 3.493 0 0 1 2 5.5ZM11 4a3.001 3.001 0 0 1 2.22 5.018 5.01 5.01 0 0 1 2.56 3.012.749.749 0 0 1-.885.954.752.752 0 0 1-.549-.514 3.507 3.507 0 0 0-2.522-2.372.75.75 0 0 1-.574-.73v-.352a.75.75 0 0 1 .416-.672A1.5 1.5 0 0 0 11 5.5.75.75 0 0 1 11 4Zm-5.5-.5a2 2 0 1 0-.001 3.999A2 2 0 0 0 5.5 3.5Z"></path>
</svg>
<span class="text-bold color-fg-default">12</span>
          followers
</a>        Â· <a class="Link--secondary no-underline no-wrap" href="https://github.com/KevsterAmp?tab=following">
<span class="text-bold color-fg-default">30</span>
          following
</a> </div>
</div>

In [ ]:
followers = div.select_one("div:nth-of-type(1) > a:nth-of-type(1) > span").text
followers

'12'

In [ ]:
following = div.select_one("div:nth-of-type(1) > a:nth-of-type(2) > span").text
following

'30'

In [ ]:
output_dict  ={
    'name': name,
    'bio': bio,
    'contrib': contrib,
    'followers': followers,
    'following': following
}
output_dict

{'name': 'Kevin',
 'bio': 'Head of Data Engineering at @Google-Developer-Student-Clubs-PUP-Main',
 'contrib': '408',
 'followers': '12',
 'following': '30'}

In [ ]:
df = pd.DataFrame(output_dict, index=[0])
df.head()

,name,bio,contrib,followers,following
0,Kevin,Head of Data Engineering at @Google-Developer-...,408,12,30

In [ ]:
r = requests.get("https://github.com/KevsterAmp?tab=following", headers=useragent)
soup = BeautifulSoup(r.text)

In [ ]:
url_links = [user.text for user in soup.select("span.Link--secondary.pl-1")]
print(url_links)

['RafaelMiguel03', 'acheamponge', 'JirroReo', 'ron-ligsay', 'jashuleyn', 'yam-1111', 'PaullyMac', 'Novelle-Estrella', 'kisuuuuu', 'LloydLegaspi', 'chrismargo', 'markmcrg', 'OmdenaAI', 'znarfm', 'jrzvnn', 'Karmotrine', 'patkyu', 'Google-Developer-Student-Clubs-PUP-Main']

In [ ]:
user_links = ['https://github.com/'+ x for x in url_links]

In [ ]:
output_dict = {
    'name': [],
    'bio': [],
    'contrib': [],
    'followers': [],
    'following': []
}
for i, user in enumerate(user_links):
  r = requests.get(user, headers=useragent)
  soup = BeautifulSoup(r.text)
  print("scraping user #" + str(i+1))
  name = soup.select_one("h1.vcard-names > span:nth-of-type(1)")
  if name is not None:
    name = name.text.strip()
  try:
    bio = soup.select("div.p-note.user-profile-bio.mb-3.js-user-profile-bio.f4 > *")[0].text.strip()
  except:
    bio = ""
  try:
    contrib = soup.select_one("div.position-relative > h2").text.replace(" ", "").replace("\n", "").replace("contributionsinthelastyear", "")
  except:
    contrib = ''
  try:
    div = soup.select_one("div.flex-order-1.flex-md-order-none.mt-2.mt-md-0")
    followers = div.select_one("div:nth-of-type(1) > a:nth-of-type(1) > span")
    if followers is not None:
      followers = followers.text
    following = div.select_one("div:nth-of-type(1) > a:nth-of-type(2) > span")
    if following is not None:
      following = following.text
  except:
    followers = ""
    following = ""

  output_dict['name'].append(name)
  output_dict['bio'].append(bio)
  output_dict['contrib'].append(contrib)
  output_dict['followers'].append(followers)
  output_dict['following'].append(following)

scraping user #1
scraping user #2
scraping user #3
scraping user #4
scraping user #5
scraping user #6
scraping user #7
scraping user #8
scraping user #9
scraping user #10
scraping user #11
scraping user #12
scraping user #13
scraping user #14
scraping user #15
scraping user #16
scraping user #17
scraping user #18

In [ ]:
df = pd.DataFrame(output_dict)

In [ ]:
df

,name,bio,contrib,followers,following
0,Raf,1st-year Information Technology Student,29,4,10
1,Emmanuel Acheampong,"AI Engineer | Co-Founder @ ROBO-BootCamp, robo...",65,359,35
2,Jirro Reo,Passionate Dev ð» | BSCS @ PUP MNL ð | Softwa...,177,14,5
3,Aron Ligsay,ML Engineer Specialize in Computer Vision | AI...,331,10,23
4,Jashlein Marquez,1st year Computer Science student,3,1,3
5,Anthony John,,306,7,3
6,Paul Macaraeg,,13,1,1
7,Novelle Estrella,Egghead. Eccentric. Skeptic.,4,1,0
8,Keith Montemayor,,6,3,2
9,John Lloyd S. Legaspi,1st Year Computer Science Student,5,2,1
10,Chris Margate,,677,5,8
11,Mark,Data Engineering Fellow Lead at GDSC - PUP Main,"1,355",4,6
12,None,,,,
13,meco,...,37,2,12
14,Joriz,"Coffee-powered developer, fueled by deadlines ...",41,7,5
15,Yuan,,512,4,5
16,Patricia Mae Quitoriano,A Filipino student who loves to code <3,41,3,5
17,None,,,,